:root {
    --pblue: #2b6777ff;
    --lpblue: #4b9d9eff;
    --yell: #ffd166;
    --principal-font: #f2efeaff;
    --tufts-blue: #218cd3ff;
    --persian-green: #25a299ff;
    --dark-goldenrod: #b68a00ff;
    --syracuse-red-orange: #cc4a0eff;
    --eggshell: #eee9d6;
    --gunmetal: #3f3f3f;
    --midnight-green: #013340ff;
    --apple-green: #869a00ff;
    --medium-slate-blue: #6c72c5ff;
  }

#cat-title{
    text-align: center;
    color: var(--gunmetal);
    margin: 1em;
}